@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;;
}

.container{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 9.7rem 25.6rem ;
  width: 100vw;
  height: 100vh; 
  background: linear-gradient(117.37deg, #D5C107 16.84%, #4FB284 33.79%, #0FABC0 51.74%, #1079C0 71.02%, #130FC0 100.46%);
}

.to-do-card{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 4rem 2.75rem 2rem 2.75rem;
  justify-content: start;
  width: 38.75rem;
  max-width: 40rem;
  background-color: white;
  max-height: 47.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px rgba(62, 47, 221, 0.3), 0 10px 32px 0 rgba(6, 6, 6, 0.10);
}

.to-do-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.logo{
  padding: 1rem;
  border-radius: 50%;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-container{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #171717;
}

p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #525252;
}

.input-wrapper{
  display: flex;
  width: 100%;
  border-radius: 6.25rem;
  justify-content: space-between;
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  padding: .5rem .5rem .5rem 1.25rem;
  height: auto;
  transition: 300ms ease;
}

.input-wrapper-update{
  display: none;
  width: 100%;
  border-radius: 6.25rem;
  justify-content: space-between;
  background-color: #FAFAFA;
  border: 1px solid #F5F5F5;
  padding: .5rem .5rem .5rem 1.25rem;
  height: auto;
  transition: 300ms ease;
}

.inputandErrorMessage{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: .625rem;
  width: 100%;
}

.errorMessage{
  color: #DD2F2F;
}

.input-field{
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 1rem;
  color: #060606;
  width: 20rem;
  font-size: 1rem;
  border-radius: 10rem;
}

.input-field::placeholder{
    color: #A3A3A3;
    font-size: 1rem;
}

.input-field:focus{
    color: #060606;
    font-size: 1rem;
}

.focus{
    border-color: #3D2FDD; 
}

.is-error{
    border-color: #DD2F2F; 
}

.button{
  display: flex;
  padding: .875rem 2rem;
  background-color: #3D2FDD;
  outline: none;
  border: none;
  border-radius: 6.25rem;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: all 300ms ease;
}
.button:hover {
  background-color: #271ba7;
}

.updateCTA{
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  align-items: center;
  justify-content: start;
}

.is-secondary { 
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;  
  background-color: transparent;  
}

.is-secondary:hover {
  background-color: #d5d5d5db;
}

.cancelButton{
  height: 1rem;
  width: 1rem;
}

.to-do-content{
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  margin-top: 1rem;
  justify-content: start;
  align-items: start;
  overflow: auto;
}

.task-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: .75rem 1rem;
  transition: .32s ease;
  border-bottom: 1px solid #d7d7d7;
}

.task-wrapper:hover{
  border-bottom: 1px solid transparent;
  border-radius: .5rem;
  background-color: #F7F7F7;
}

.task-heading{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  cursor: pointer;
  justify-content: start;
  align-items: center;
}


h3{
  font-size: 1.125rem;
  font-weight: 500;
  color: #171717;
  line-height: 26px;
  cursor: pointer; 
  
}

.strikeOut{ 
  font-size: 1.125rem;
  font-weight: 300; 
  color: #666666; 
  text-decoration: line-through;
  line-height: 26px;
  cursor: pointer;
}

.check-icon{  
  background: url(./Images/uncheck.svg); 
  background-repeat: no-repeat;
  height: 1.125rem;
  width: 1.125rem; 
  border-radius: 50%;
}

.checked{  
  background: url(./Images/checked.svg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
}

.actions{
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  justify-content: start;
  align-items: center;
}
.deleteIcon{
  padding: .375rem;
  border-radius: .5rem; 
  cursor: pointer;
  color: #060606;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteIcon:hover{
  background-color: #f9dbdb;
  color: #db0f0f;
}

.editIcon{
  padding: .375rem;
  border-radius: .5rem; 
  cursor: pointer;
  color: #060606;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editIcon:hover{
  background-color: #dbe2f9;
  color: #0f20db;
}

@media screen and (max-width: 840px) {

  .container { 
    padding: 8rem 5.5rem; 
  }

  .to-do-card { 
    row-gap: 1.125rem;
    padding: 3rem 2.5rem 1.75rem 2.5rem;
    justify-content: start;
    width: 40rem;  
  } 
  

  h1 {
    font-size: 1.5rem; 
    line-height: 2.25rem; 
  }

  p {
    font-size: .875rem; 
    line-height: 1.5rem; 
  }

  .input-wrapper { 
    padding: .5rem; 
  }

  .input-wrapper-update { 
    padding: .5rem; 
  }

  .inputandErrorMessage { 
    row-gap: .6rem; 
  } 

  .input-field { 
    padding: 0 .875rem; 
    width: 20rem;
    font-size: .875rem; 
  }

  .input-field::placeholder { 
    font-size: .875rem;
  }

  .input-field:focus { 
    font-size: .875rem;
  } 
 

  .button { 
    padding: .75rem 2rem;  
    font-size: .875rem;
  }

  .updateCTA { 
    column-gap: .5rem;
    align-items: center;
    justify-content: start;
  }

  .is-secondary {
    height: 1.5rem;
    width: 1.5rem; 
    padding: 1rem; 
  }
 

  .to-do-content { 
    row-gap: .75rem;
    margin-top: .75rem; 
  }

  .task-wrapper {  
    padding: .75rem;  
  }

  .task-heading { 
    column-gap: .75rem;  
  }


  h3 {
    font-size: 1rem;  
    line-height: 20px; 

  }

  .strikeOut {
    font-size: 1rem;
    line-height: 20px; 
  }

  .check-icon { 
    height: 1rem;
    width: 1rem;
  }

  .checked {
    height: 1rem;
    width: 1rem;
  }
 

  .deleteIcon {
    padding: .35rem;
    border-radius: .3rem;  
  } 

  .editIcon {
    padding: .35rem;
    border-radius: .3rem;
  }

}

@media screen and (max-width: 480px) {

  .container { 
    padding: 3rem 1.125rem;
  }

  .to-do-card { 
    row-gap: 1.125rem;
    padding: 2rem 1rem 1.75rem 1rem;
    justify-content: start;
    width: 100%;  
  } 
  

  h1 {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  p {
    font-size: .875rem; 
    line-height: 1.5rem; 
  }

  .input-wrapper { 
    padding: .5rem;
    column-gap: .5rem;
    align-items: center;
  }

  .input-wrapper-update { 
    padding: .5rem; 
    column-gap: .5rem;
    align-items: center;
  }

  .inputandErrorMessage { 
    row-gap: .6rem; 
  } 

  .input-field { 
    padding: 0 .75rem; 
    width: auto;
    font-size: .75rem; 
  }

  .input-field::placeholder { 
    font-size: .875rem;
  }

  .input-field:focus { 
    font-size: .875rem;
  } 
 

  .button { 
    padding: .5rem;
    background-color: transparent;
    font-size: .75rem;
    color: #0f20db;
    font-weight: 400;
  }
  
  .button:hover {  
    background-color: transparent; 
    color: #060606; 
  }
/* 
  .is-secondary {
    background: url(./Images/cancel.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin-right: 0;
    width: 1.25rem;
    height: 1.25rem;
    color: transparent;
  } */

  .updateCTA {
    column-gap: .35rem; 
  }

  .is-secondary {
    height: 1.125rem;
    width: 1.125rem;
    padding: .75rem;
  }
  
  .is-secondary:hover { 
    color: transparent;
  }
 

  .to-do-content { 
    row-gap: .75rem;
    margin-top: .75rem; 
  }

  .task-wrapper {  
    padding: .5rem;  
  }

  .task-heading { 
    column-gap: .75rem; 
    justify-content: start; 
    align-items: start;
  }


  h3 {
    font-size: .75rem;
    line-height: 1.2;
    font-weight: 400;

  }

  .strikeOut {
    font-size: .75rem;
    line-height: 1.2; 
  }

  .check-icon { 
    height: .875rem;
    width: .875rem;
  }

  .checked {
    height: .875rem;
    width: .875rem;
  }
 

  .deleteIcon {
    padding: .35rem;
    border-radius: .3rem;  
  } 

  .editIcon {
    padding: .35rem;
    border-radius: .3rem;
  }

}